<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблица валют</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Выйти</button>
</form>

<h2>Курсы валют</h2>
<h3>Банк Эсхата</h3>

{% if data_eskhata %}
    <table>
        <thead>
            <tr>
                <th>Валюта</th>
                <th>Банк покупает</th>
                <th>Банк продает</th>
                <th>Курс НБТ</th>
            </tr>
        </thead>
        <tbody>
            {% for currency, data in data_eskhata.items %}
                <tr>
                    <td>{{ data.currency }}</td>
                    <td>{{ data.buy }}</td>
                    <td>{{ data.sell }}</td>
                    <td>{{ data.nbt }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Данные с Банка Эсхата не найдены.</p>
{% endif %}

<h2>Курсы валют</h2>
<h3>Банк Арванд</h3>

{% if data_arvand %}
    <table>
        <thead>
            <tr>
                <th>Валюта</th>
                <th>Банк покупает</th>
                <th>Банк продает</th>
            </tr>
        </thead>
        <tbody>
            {% for currency, data_arvand in data_arvand.items %}
                <tr>
                    <td>{{ currency }}</td> <!-- Используем название валюты -->
                    <td>{{ data_arvand.buy_rate }}</td>
                    <td>{{ data_arvand.sell_rate }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Данные с Банка Арванд не найдены.</p>
{% endif %}



<h2>Курсы валют</h2>
<h3>Банк Имон</h3>

{% if data_imon %}
    <table>
        <thead>
            <tr>
                <th>Валюта</th>
                <th>Банк покупает</th>
                <th>Банк продает</th>
            </tr>
        </thead>
        <tbody>
            {% for currency, data_imon in data_imon.items %}
                <tr>
                    <td>{{ currency }}</td> <!-- Используем название валюты -->
                    <td>{{ data_imon.buy }}</td>
                    <td>{{ data_imon.sell }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Данные с Банка Имон не найдены.</p>
{% endif %}


<h2>Курсы валют</h2>
<h3>Банк Ориёнбонк</h3>

{% if data_orionbonk %}
    <table>
        <thead>
            <tr>
                <th>Валюта</th>
                <th>Банк покупает</th>
                <th>Банк продает</th>
            </tr>
        </thead>
        <tbody>
            {% for currency, data_orionbonk in data_orionbonk.items %}
                <tr>
                    <td>{{ currency }}</td> <!-- Используем название валюты -->
                    <td>{{ data_orionbonk.buy_price }}</td>
                    <td>{{ data_orionbonk.sell_price}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Данные с Банка Ориёнбонк не найдены.</p>
{% endif %}


<h2>Курсы валют</h2>
<h3>Банк Амонатбонк</h3>

{% if data_amonatbonk %}
    <table>
        <thead>
            <tr>
                <th>Валюта</th>
                <th>Банк покупает</th>
                <th>Банк продает</th>
            </tr>
        </thead>
        <tbody>
            {% for currency, data_amonatbonk in data_amonatbonk.items %}
                <tr>
                    <td>{{ currency }}</td> <!-- Используем название валюты -->
                    <td>{{ data_amonatbonk.buy }}</td>
                    <td>{{ data_amonatbonk.sell}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Данные с Банка Амонатбонк не найдены.</p>
{% endif %}


</body>
</html>
